<%- include('./navbar') %>
<link rel="stylesheet" href="css/contatos.css">

      <div class="corpo">
        <h1>COMPESA</h1>
        <p>Agência Virtual: www.compesa.com.br.</p>
        <p>App Compesa Mobile: Para Android e iPhone.</p>
        <p>Assistente Virtual: WhatsApp – 81 99488 2336.</p>
        <p>Central de Atendimento ao Cliente: 0800 081 0195.</p>

        <div class="imgs">
            <a target="_blank" href="https://www.reclameaqui.com.br/empresa/compesa-pe/"><img class="img" src="https://www.reclameaqui.com.br/images/ra-favicon.bf3991c3.png" alt="Icone do reclame aqui"></a>

            <a target="_blank" href=""><img class="img" src="https://cdn-icons-png.flaticon.com/512/281/281769.png" alt="Icone do gmail"></a>
        </div>

        <h1>AGUAGA</h1>
        <p>TELEATENDMENTO 24H:</p>
        
        <div class="imgs">
          <a target="_blank" href=""><img class="img" src="https://cdn-icons-png.flaticon.com/512/281/281769.png" alt="Icone do gmail"></a>
        </div>
      </div>

      <H1>AGUAGA</H1>

</body>
</html>