<%- include('./navbar') %>
    <link rel="stylesheet" href="./css/estatisticas.css">
    <div id="corpo">
        <h1>Estatísticas</h1>

        <div id="imgs">
            <img id="img1" src="./imgs/grafico1.jpg" alt="gráfico 1">
            <img src="./imgs/grafico2.jpg" alt="gráfico 2">
        </div>
    </div>
</body>
</html>