<%- include('./navbar') %>
<link rel="stylesheet" href="./css/style.css">
    
    <h1 id="welcome">BEM VINDO!</h1>
    <div id="conteudo">
            <p id="texto">Buscamos envolver e fortalecer a participação das comunidades locais na gestão da água e do saneamento.</p>
            <img src="https://ecoinforme.com.br/wp-content/uploads/2018/06/garrafa-de-agua.jpg" alt="Imagem de garrafas de água">
            <div id="visitantes">
                <h3>Visitas no dia:</h3>
                <h2><%=visitas%></h2>
            </div>
    </div>

    <div id="nomes"><p>Cauã, Rômulo, Matheus</p></div>
</body>
</html>