<%- include('./navbar') %>
<link rel="stylesheet" href="./css/projetos.css">
    
<div id="corpo">
    <h1>PATROCINE ESSES PROJETOS E FASSA DIFERENÇA PARA O MUNDO!</h1>

    <div id="projetos">
        <a target="_blank" href="https://maisagua.social/o-mais-agua/?gad_source=1&gclid=CjwKCAiAqrG9BhAVEiwAaPu5zlYHw5nSt9vM9evMIsAHRwi0ounn_otjr267bDhghbTxjKmrUzELXhoC4gMQAvD_BwE">
            <div class="projeto">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBJlomfl3jRIRG_RG0Qi3tkdtss0z8hLlIhlVfXlphSWJIQo6zk4DigZUY&s">
                <br><br>
                <h3>O Mais Água</h3>
            </div>
        </a>

        <a target="_blank" href="https://materiais.aguasustentavel.org.br/pagina-de-projetos-ias#:~:text=Nossa%20Miss%C3%A3o%20%C3%A9%20Acabar%20com,tamb%C3%A9m%20pode%20ser%20um%20doador!">
            <div class="projeto">
                <img src="https://img.freepik.com/fotos-premium/retrato-de-um-agricultor-masculino-feliz-colhendo-frutas-de-laranja-em-um-campo-de-laranjeira_8595-20076.jpg">
                <br><br>
                <h3>Água sustentavel</h3>
            </div>
        </a>

        <a target="_blank" href="https://materiais.aguasustentavel.org.br/ias-recrear">
            <div class="projeto">
                <img src="https://marlim.org.br/wp-content/uploads/2024/03/ias_contato.jpg">
                <br><br>
                <h3>IAS RECREAR</h3>
            </div>
        </a>

        <a target="_blank" href="http://www.projetoagua.org.br/">
            <div class="projeto">
                <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQuPw9fqPOUoMScwDuC9qqDIgcR0Z6APXplplTUATng5qtRGYvn">
                <br><br>
                <h3>Projeto Água</h3>
            </div>
        </a>

        <a target="_blank" href="https://www.institutoaguaviva.org.br/?gad_source=1&gclid=CjwKCAiAzba9BhBhEiwA7glbakUIe28hCGcy-_e1ZtFZE0Ky9KHveyPqBRegALkl4upF9ZPNPawGqhoCLg8QAvD_BwE">
            <div class="projeto">
                <img src="https://d335luupugsy2.cloudfront.net/cms/files/843061/1721933078/$gqg11qmua9c">
                <br><br>
                <h3>Instituto Água Viva</h3>
            </div>
        </a>

        <a target="_blank" href="https://saneamentobasico.com.br/ebooks/eficiencia-hidrica-em-edificios/">
            <div class="projeto">
                <img src="https://yt3.googleusercontent.com/ytc/AIdro_lXauBvNVzYR8sWdwVyedY4hvsfl3eozsv_ae-DcqQq5vI=s900-c-k-c0x00ffffff-no-rj">
                <br><br>
                <h3>Portal Saneamento Básico</h3>
            </div>
        </a>
        
    </div>
</div>
</body>
</html>