<%- include('./navbar') %>
<link rel="stylesheet" href="./css/projetos.css">
    
<div id="corpo">
    <h1>ALGUNS PROJETOS DO GOVERNO</h1>

    <div id="projetos">
        <a target="_blank" href="https://srhs.pe.gov.br/aguas-de-pernambuco">
            <div class="projeto">
                <img src="./imgs/aguas pernambuco.jpg">
                <br><br>
                <h3>Águas de Pernambuco</h3>
            </div>
        </a>

        <a target="_blank" href="https://www.gov.br/cidades/pt-br/acesso-a-informacao/acoes-e-programas/saneamento/pmss/biblioteca-virtual/programa-nacional-combate-ao-desperdicio-agua-pncda">
            <div class="projeto">
                <img src="https://t2.tudocdn.net/668858?w=1200&h=1200">
                <br><br>
                <h3>PNCDA</h3>
            </div>
        </a>

        <a target="_blank" href="https://www.gov.br/mdr/pt-br/assuntos/seguranca-hidrica/bacias-hidrograficas#:~:text=O%20objetivo%20do%20PNRBH%20%C3%A9,aumento%20da%20disponibilidade%20h%C3%ADdrica%2C%20em">
            <div class="projeto">
                <img src="https://www.gov.br/mdr/pt-br/assuntos/seguranca-hidrica/bacias-hidrograficas/copy_of_logos01.png">
                <br><br>
                <h3>PNRBH</h3>
            </div>
        </a>

        <a target="_blank" href="https://novamata.org/iniciativa/produtor-de-agua-do-bitury/">
            <div class="projeto">
                <img src="https://novamata.org/wp-content/uploads/2021/04/Pernambuco.jpg">
                <br><br>
                <h3>Produtor de Água do Bitury</h3>
            </div>
        </a>
        
    </div>
</div>
</body>
</html>