#welcome{
    color: black;
    text-align: center;
    font-size: 400%;
    margin-top: 15vh;
    margin-bottom: 60px;
}

#texto{
    color: black;
}

#conteudo{
    display: flex;
}

#texto{
    width: 25%;
    font-size: 200%;
    margin-left: 40px;
    margin-top: 40px;
}

img{
    position: absolute;
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta o centro do bloco */
}

#visitantes{
    background-color: #0097b2;
    margin-top: 40px;
    margin-left: 45vw;
    border-radius: 20px;
    width: 300px;
    height: 250px;
}

#visitantes > h3{
    text-align: center;
    margin-top: 30px;
    font-size: 200%;
}

#visitantes > h2{
    text-align: center;
    margin-top: 10px;
    font-size: 600%;
}

#nomes{
    background-color: #0097b2;
    margin-top: 5%;
    font-size: 200%;
    width: 30%;
    height: 7vh;
    transform: translateX(-50%); /* Ajusta o centro do bloco */
    margin-left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}